.material-design-icon {
  .material-design-icon__svg {
    height: 1.5em !important;
    width: 1.5em !important;
    bottom: -0.28em !important;
  }
}

div,
p {
  font-family: noto-sans, Arial, sans-serif;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a,
div,
input {
  outline: none;
}

textarea:focus, input:focus{
  outline: none;
}

a {
  text-decoration: none;
  color: unset;
}
