$default: (
	bgcolor-main: #121212,
	bgcolor-alt: #1a1a1a,
	bgcolor-alt-light: #484848,
	bgcolor-translucent: #0000007c,
	error-color-green: #4caf50,
	error-color-red: #d93025,
	theme-color: #ff7b3b,
	theme-color-light: #f5af19,
	theme-color-dark: #f12711,
	theme-color-alt: #108dc7,
	theme-color-translucent: #ff6d2480,
	line-color: rgba(255, 255, 255, 0.2),
	line-accent-color: rgba(255, 255, 255, 0.4),
	theme-color-gradient: linear-gradient(53deg, rgba(254, 126, 19, 1) 0%, rgba(224, 140, 112, 1) 33%, rgba(89, 193, 186, 1)
				78%, rgba(0, 212, 255, 1) 100%),
	shadow-load-color: #535353b6,
	header-bgcolor: #272727,
	header-transparent: #00000000,
	title-color: #ebebeb,
	subtitle-color: #d8d8d8,
	subtitle-color-light: #b3b3b3
);
$light: (
	bgcolor-main: #ffffff,
	bgcolor-alt: #ffffff,
	bgcolor-alt-light: #dadada,
	bgcolor-translucent: #ffffff7c,
	error-color-green: #4caf50,
	error-color-red: #d93025,
	theme-color: #ff7b3b,
	theme-color-light: #f5af19,
	theme-color-dark: #f12711,
	theme-color-alt: #108dc7,
	theme-color-translucent: #ff6d2480,
	line-color: rgba(255, 255, 255, 0.2),
	line-accent-color: rgba(255, 255, 255, 0.4),
	theme-color-gradient: linear-gradient(53deg, rgba(254, 126, 19, 1) 0%, rgba(224, 140, 112, 1) 33%, rgba(89, 193, 186, 1)
				78%, rgba(0, 212, 255, 1) 100%),
	shadow-load-color: #535353b6,
	header-bgcolor: #fff,
	header-transparent: #ffffff,
	title-color: #080808,
	subtitle-color: #333333,
	subtitle-color-light: #4e4e4e
);
$dark-no-gradient: (
	bgcolor-main: #121212,
	bgcolor-alt: #1a1a1a,
	bgcolor-alt-light: #484848,
	bgcolor-translucent: #0000007c,
	error-color-green: #4caf50,
	error-color-red: #d93025,
	theme-color: #ff7b3b,
	theme-color-light: #f5af19,
	theme-color-dark: #f12711,
	theme-color-alt: #108dc7,
	theme-color-translucent: #ff6d2480,
	line-color: rgba(255, 255, 255, 0.2),
	line-accent-color: rgba(255, 255, 255, 0.4),
	theme-color-gradient: linear-gradient(53deg, rgba(254, 126, 19, 1) 0%, rgba(224, 140, 112, 1) 33%, rgba(89, 193, 186, 1)
				78%, rgba(0, 212, 255, 1) 100%),
	shadow-load-color: #535353b6,
	header-bgcolor: #272727,
	header-transparent: #00000000,
	title-color: #ebebeb,
	subtitle-color: #d8d8d8,
	subtitle-color-light: #b3b3b3
);
$black: (
	bgcolor-main: #000000,
	bgcolor-alt: #1a1a1a,
	bgcolor-alt-light: #484848,
	bgcolor-translucent: #0000007c,
	error-color-green: #4caf50,
	error-color-red: #d93025,
	theme-color: #ff7b3b,
	theme-color-light: #f5af19,
	theme-color-dark: #f12711,
	theme-color-alt: #108dc7,
	theme-color-translucent: #ff6d2480,
	line-color: rgba(255, 255, 255, 0.2),
	line-accent-color: rgba(255, 255, 255, 0.4),
	theme-color-gradient: linear-gradient(53deg, rgba(254, 126, 19, 1) 0%, rgba(224, 140, 112, 1) 33%, rgba(89, 193, 186, 1)
				78%, rgba(0, 212, 255, 1) 100%),
	shadow-load-color: #535353b6,
	header-bgcolor: #272727,
	header-transparent: #00000000,
	title-color: #ebebeb,
	subtitle-color: #d8d8d8,
	subtitle-color-light: #b3b3b3
);
#app.theme--default {
	@each $name, $color in $default {
		--#{$name}: #{$color};
	}
}

#app.theme--light {
	@each $name, $color in $light {
		--#{$name}: #{$color};
	}
}

#app.theme--dark-no-gradient {
	@each $name, $color in $dark-no-gradient {
		--#{$name}: #{$color};
	}
}

#app.theme--black {
	@each $name, $color in $black {
		--#{$name}: #{$color};
	}
}
