.popup-overlay {
  position: fixed;
  background-color: var(--bgcolor-translucent);
  width: 100%;
  height: 100%;
  z-index: 8;
}

.popup {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 8;
  position: fixed;
  overflow-y: scroll;

  .popup-container {
    width: 100%;
    height: auto;
    z-index: 10;
    margin: auto;
    max-width: 500px;
    background-color: var(--bgcolor-alt);
    box-shadow: $medium-shadow;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 0 20px 20px 20px;

    .close-icon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 20px 20px 0 0;
      height: 38px;
      width: 38px;
      cursor: pointer;

      .material-design-icon__svg {
        height: 38px !important;
        width: 38px !important;
        position: unset !important;
      }
    }

    h1 {
      margin: 0 auto;
      font-size: 2rem;
      color: var(--theme-color);
      font-family: $default-font;
      position: sticky;
      top: -60px;
      background-color: var(--bgcolor-alt);
      z-index: +1;
      padding: 20px 0 0 0;
    }

    h2 {
      padding: 40px 0 0 0;

      span {
        margin: 0 10px 0 0;

        svg {
          bottom: -0.2rem !important;
          height: 1em !important;
          width: 1em !important;
        }
      }
    }

    h3{
      padding: 20px 0 0 0;
    }

    >div {
      margin: 0 0 0 36px;
    }

    @media screen and (max-width: $mobile-width) {
      height: 120%;
      max-width: 100%;
      padding-top: $header-height;

      .close-icon {
        margin: 60px 20px 0 0;
      }
    }
  }
}