@font-face {
  font-family: "noto-sans";
  src: url("notosans-regular.woff2") format("woff2"),
    url("notosans-regular.woff") format("woff"),
    url("ExpletusSans-Bold.svg") format("svg"),
    url("ExpletusSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
