<p>GNU AFFERO GENERAL PUBLIC LICENSE<br />
  Version 3, 19 November 2007</p>

<p> Copyright (C) 2007 Free Software Foundation, Inc.
  <a href="http://fsf.org" target="_blank">http://fsf.org</a> <br />
  Everyone is permitted to copy and distribute verbatim copies<br />
  of this license document, but changing it is not allowed.</p>

<p> Preamble</p>

<p> The GNU Affero General Public License is a free, copyleft license for<br />
  software and other kinds of works, specifically designed to ensure<br />
  cooperation with the community in the case of network server software.</p>

<p> The licenses for most software and other practical works are designed<br />
  to take away your freedom to share and change the works. By contrast,<br />
  our General Public Licenses are intended to guarantee your freedom to<br />
  share and change all versions of a program--to make sure it remains free<br />
  software for all its users.</p>

<p> When we speak of free software, we are referring to freedom, not<br />
  price. Our General Public Licenses are designed to make sure that you<br />
  have the freedom to distribute copies of free software (and charge for<br />
  them if you wish), that you receive source code or can get it if you<br />
  want it, that you can change the software or use pieces of it in new<br />
  free programs, and that you know you can do these things.</p>

<p> Developers that use our General Public Licenses protect your rights<br />
  with two steps: (1) assert copyright on the software, and (2) offer<br />
  you this License which gives you legal permission to copy, distribute<br />
  and/or modify the software.</p>

<p> A secondary benefit of defending all users' freedom is that<br />
  improvements made in alternate versions of the program, if they<br />
  receive widespread use, become available for other developers to<br />
  incorporate. Many developers of free software are heartened and<br />
  encouraged by the resulting cooperation. However, in the case of<br />
  software used on network servers, this result may fail to come about.<br />
  The GNU General Public License permits making a modified version and<br />
  letting the public access it on a server without ever releasing its<br />
  source code to the public.</p>

<p> The GNU Affero General Public License is designed specifically to<br />
  ensure that, in such cases, the modified source code becomes available<br />
  to the community. It requires the operator of a network server to<br />
  provide the source code of the modified version running there to the<br />
  users of that server. Therefore, public use of a modified version, on<br />
  a publicly accessible server, gives the public access to the source<br />
  code of the modified version.</p>

<p> An older license, called the Affero General Public License and<br />
  published by Affero, was designed to accomplish similar goals. This is<br />
  a different license, not a version of the Affero GPL, but Affero has<br />
  released a new version of the Affero GPL which permits relicensing under<br />
  this license.</p>

<p> The precise terms and conditions for copying, distribution and<br />
  modification follow.</p>

<p> TERMS AND CONDITIONS</p>

<p> 0. Definitions.</p>

<p> &quot;This License&quot; refers to version 3 of the GNU Affero General Public License.</p>

<p> &quot;Copyright&quot; also means copyright-like laws that apply to other kinds of<br />
  works, such as semiconductor masks.</p>

<p> &quot;The Program&quot; refers to any copyrightable work licensed under this<br />
  License. Each licensee is addressed as &quot;you&quot;. &quot;Licensees&quot; and<br />
  &quot;recipients&quot; may be individuals or organizations.</p>

<p> To &quot;modify&quot; a work means to copy from or adapt all or part of the work<br />
  in a fashion requiring copyright permission, other than the making of an<br />
  exact copy. The resulting work is called a &quot;modified version&quot; of the<br />
  earlier work or a work &quot;based on&quot; the earlier work.</p>

<p> A &quot;covered work&quot; means either the unmodified Program or a work based<br />
  on the Program.</p>

<p> To &quot;propagate&quot; a work means to do anything with it that, without<br />
  permission, would make you directly or secondarily liable for<br />
  infringement under applicable copyright law, except executing it on a<br />
  computer or modifying a private copy. Propagation includes copying,<br />
  distribution (with or without modification), making available to the<br />
  public, and in some countries other activities as well.</p>

<p> To &quot;convey&quot; a work means any kind of propagation that enables other<br />
  parties to make or receive copies. Mere interaction with a user through<br />
  a computer network, with no transfer of a copy, is not conveying.</p>

<p> An interactive user interface displays &quot;Appropriate Legal Notices&quot;<br />
  to the extent that it includes a convenient and prominently visible<br />
  feature that (1) displays an appropriate copyright notice, and (2)<br />
  tells the user that there is no warranty for the work (except to the<br />
  extent that warranties are provided), that licensees may convey the<br />
  work under this License, and how to view a copy of this License. If<br />
  the interface presents a list of user commands or options, such as a<br />
  menu, a prominent item in the list meets this criterion.</p>

<p> 1. Source Code.</p>

<p> The &quot;source code&quot; for a work means the preferred form of the work<br />
  for making modifications to it. &quot;Object code&quot; means any non-source<br />
  form of a work.</p>

<p> A &quot;Standard Interface&quot; means an interface that either is an official<br />
  standard defined by a recognized standards body, or, in the case of<br />
  interfaces specified for a particular programming language, one that<br />
  is widely used among developers working in that language.</p>

<p> The &quot;System Libraries&quot; of an executable work include anything, other<br />
  than the work as a whole, that (a) is included in the normal form of<br />
  packaging a Major Component, but which is not part of that Major<br />
  Component, and (b) serves only to enable use of the work with that<br />
  Major Component, or to implement a Standard Interface for which an<br />
  implementation is available to the public in source code form. A<br />
  &quot;Major Component&quot;, in this context, means a major essential component<br />
  (kernel, window system, and so on) of the specific operating system<br />
  (if any) on which the executable work runs, or a compiler used to<br />
  produce the work, or an object code interpreter used to run it.</p>

<p> The &quot;Corresponding Source&quot; for a work in object code form means all<br />
  the source code needed to generate, install, and (for an executable<br />
  work) run the object code and to modify the work, including scripts to<br />
  control those activities. However, it does not include the work's<br />
  System Libraries, or general-purpose tools or generally available free<br />
  programs which are used unmodified in performing those activities but<br />
  which are not part of the work. For example, Corresponding Source<br />
  includes interface definition files associated with source files for<br />
  the work, and the source code for shared libraries and dynamically<br />
  linked subprograms that the work is specifically designed to require,<br />
  such as by intimate data communication or control flow between those<br />
  subprograms and other parts of the work.</p>

<p> The Corresponding Source need not include anything that users<br />
  can regenerate automatically from other parts of the Corresponding<br />
  Source.</p>

<p> The Corresponding Source for a work in source code form is that<br />
  same work.</p>

<p> 2. Basic Permissions.</p>

<p> All rights granted under this License are granted for the term of<br />
  copyright on the Program, and are irrevocable provided the stated<br />
  conditions are met. This License explicitly affirms your unlimited<br />
  permission to run the unmodified Program. The output from running a<br />
  covered work is covered by this License only if the output, given its<br />
  content, constitutes a covered work. This License acknowledges your<br />
  rights of fair use or other equivalent, as provided by copyright law.</p>

<p> You may make, run and propagate covered works that you do not<br />
  convey, without conditions so long as your license otherwise remains<br />
  in force. You may convey covered works to others for the sole purpose<br />
  of having them make modifications exclusively for you, or provide you<br />
  with facilities for running those works, provided that you comply with<br />
  the terms of this License in conveying all material for which you do<br />
  not control copyright. Those thus making or running the covered works<br />
  for you must do so exclusively on your behalf, under your direction<br />
  and control, on terms that prohibit them from making any copies of<br />
  your copyrighted material outside their relationship with you.</p>

<p> Conveying under any other circumstances is permitted solely under<br />
  the conditions stated below. Sublicensing is not allowed; section 10<br />
  makes it unnecessary.</p>

<p> 3. Protecting Users' Legal Rights From Anti-Circumvention Law.</p>

<p> No covered work shall be deemed part of an effective technological<br />
  measure under any applicable law fulfilling obligations under article<br />
  11 of the WIPO copyright treaty adopted on 20 December 1996, or<br />
  similar laws prohibiting or restricting circumvention of such<br />
  measures.</p>

<p> When you convey a covered work, you waive any legal power to forbid<br />
  circumvention of technological measures to the extent such circumvention<br />
  is effected by exercising rights under this License with respect to<br />
  the covered work, and you disclaim any intention to limit operation or<br />
  modification of the work as a means of enforcing, against the work's<br />
  users, your or third parties' legal rights to forbid circumvention of<br />
  technological measures.</p>

<p> 4. Conveying Verbatim Copies.</p>

<p> You may convey verbatim copies of the Program's source code as you<br />
  receive it, in any medium, provided that you conspicuously and<br />
  appropriately publish on each copy an appropriate copyright notice;<br />
  keep intact all notices stating that this License and any<br />
  non-permissive terms added in accord with section 7 apply to the code;<br />
  keep intact all notices of the absence of any warranty; and give all<br />
  recipients a copy of this License along with the Program.</p>

<p> You may charge any price or no price for each copy that you convey,<br />
  and you may offer support or warranty protection for a fee.</p>

<p> 5. Conveying Modified Source Versions.</p>

<p> You may convey a work based on the Program, or the modifications to<br />
  produce it from the Program, in the form of source code under the<br />
  terms of section 4, provided that you also meet all of these conditions:</p>

<p> a) The work must carry prominent notices stating that you modified<br />
  it, and giving a relevant date.</p>

<p> b) The work must carry prominent notices stating that it is<br />
  released under this License and any conditions added under section<br />
  7. This requirement modifies the requirement in section 4 to<br />
  &quot;keep intact all notices&quot;.</p>

<p> c) You must license the entire work, as a whole, under this<br />
  License to anyone who comes into possession of a copy. This<br />
  License will therefore apply, along with any applicable section 7<br />
  additional terms, to the whole of the work, and all its parts,<br />
  regardless of how they are packaged. This License gives no<br />
  permission to license the work in any other way, but it does not<br />
  invalidate such permission if you have separately received it.</p>

<p> d) If the work has interactive user interfaces, each must display<br />
  Appropriate Legal Notices; however, if the Program has interactive<br />
  interfaces that do not display Appropriate Legal Notices, your<br />
  work need not make them do so.</p>

<p> A compilation of a covered work with other separate and independent<br />
  works, which are not by their nature extensions of the covered work,<br />
  and which are not combined with it such as to form a larger program,<br />
  in or on a volume of a storage or distribution medium, is called an<br />
  &quot;aggregate&quot; if the compilation and its resulting copyright are not<br />
  used to limit the access or legal rights of the compilation's users<br />
  beyond what the individual works permit. Inclusion of a covered work<br />
  in an aggregate does not cause this License to apply to the other<br />
  parts of the aggregate.</p>

<p> 6. Conveying Non-Source Forms.</p>

<p> You may convey a covered work in object code form under the terms<br />
  of sections 4 and 5, provided that you also convey the<br />
  machine-readable Corresponding Source under the terms of this License,<br />
  in one of these ways:</p>

<p> a) Convey the object code in, or embodied in, a physical product<br />
  (including a physical distribution medium), accompanied by the<br />
  Corresponding Source fixed on a durable physical medium<br />
  customarily used for software interchange.</p>

<p> b) Convey the object code in, or embodied in, a physical product<br />
  (including a physical distribution medium), accompanied by a<br />
  written offer, valid for at least three years and valid for as<br />
  long as you offer spare parts or customer support for that product<br />
  model, to give anyone who possesses the object code either (1) a<br />
  copy of the Corresponding Source for all the software in the<br />
  product that is covered by this License, on a durable physical<br />
  medium customarily used for software interchange, for a price no<br />
  more than your reasonable cost of physically performing this<br />
  conveying of source, or (2) access to copy the<br />
  Corresponding Source from a network server at no charge.</p>

<p> c) Convey individual copies of the object code with a copy of the<br />
  written offer to provide the Corresponding Source. This<br />
  alternative is allowed only occasionally and noncommercially, and<br />
  only if you received the object code with such an offer, in accord<br />
  with subsection 6b.</p>

<p> d) Convey the object code by offering access from a designated<br />
  place (gratis or for a charge), and offer equivalent access to the<br />
  Corresponding Source in the same way through the same place at no<br />
  further charge. You need not require recipients to copy the<br />
  Corresponding Source along with the object code. If the place to<br />
  copy the object code is a network server, the Corresponding Source<br />
  may be on a different server (operated by you or a third party)<br />
  that supports equivalent copying facilities, provided you maintain<br />
  clear directions next to the object code saying where to find the<br />
  Corresponding Source. Regardless of what server hosts the<br />
  Corresponding Source, you remain obligated to ensure that it is<br />
  available for as long as needed to satisfy these requirements.</p>

<p> e) Convey the object code using peer-to-peer transmission, provided<br />
  you inform other peers where the object code and Corresponding<br />
  Source of the work are being offered to the general public at no<br />
  charge under subsection 6d.</p>

<p> A separable portion of the object code, whose source code is excluded<br />
  from the Corresponding Source as a System Library, need not be<br />
  included in conveying the object code work.</p>

<p> A &quot;User Product&quot; is either (1) a &quot;consumer product&quot;, which means any<br />
  tangible personal property which is normally used for personal, family,<br />
  or household purposes, or (2) anything designed or sold for incorporation<br />
  into a dwelling. In determining whether a product is a consumer product,<br />
  doubtful cases shall be resolved in favor of coverage. For a particular<br />
  product received by a particular user, &quot;normally used&quot; refers to a<br />
  typical or common use of that class of product, regardless of the status<br />
  of the particular user or of the way in which the particular user<br />
  actually uses, or expects or is expected to use, the product. A product<br />
  is a consumer product regardless of whether the product has substantial<br />
  commercial, industrial or non-consumer uses, unless such uses represent<br />
  the only significant mode of use of the product.</p>

<p> &quot;Installation Information&quot; for a User Product means any methods,<br />
  procedures, authorization keys, or other information required to install<br />
  and execute modified versions of a covered work in that User Product from<br />
  a modified version of its Corresponding Source. The information must<br />
  suffice to ensure that the continued functioning of the modified object<br />
  code is in no case prevented or interfered with solely because<br />
  modification has been made.</p>

<p> If you convey an object code work under this section in, or with, or<br />
  specifically for use in, a User Product, and the conveying occurs as<br />
  part of a transaction in which the right of possession and use of the<br />
  User Product is transferred to the recipient in perpetuity or for a<br />
  fixed term (regardless of how the transaction is characterized), the<br />
  Corresponding Source conveyed under this section must be accompanied<br />
  by the Installation Information. But this requirement does not apply<br />
  if neither you nor any third party retains the ability to install<br />
  modified object code on the User Product (for example, the work has<br />
  been installed in ROM).</p>

<p> The requirement to provide Installation Information does not include a<br />
  requirement to continue to provide support service, warranty, or updates<br />
  for a work that has been modified or installed by the recipient, or for<br />
  the User Product in which it has been modified or installed. Access to a<br />
  network may be denied when the modification itself materially and<br />
  adversely affects the operation of the network or violates the rules and<br />
  protocols for communication across the network.</p>

<p> Corresponding Source conveyed, and Installation Information provided,<br />
  in accord with this section must be in a format that is publicly<br />
  documented (and with an implementation available to the public in<br />
  source code form), and must require no special password or key for<br />
  unpacking, reading or copying.</p>

<p> 7. Additional Terms.</p>

<p> &quot;Additional permissions&quot; are terms that supplement the terms of this<br />
  License by making exceptions from one or more of its conditions.<br />
  Additional permissions that are applicable to the entire Program shall<br />
  be treated as though they were included in this License, to the extent<br />
  that they are valid under applicable law. If additional permissions<br />
  apply only to part of the Program, that part may be used separately<br />
  under those permissions, but the entire Program remains governed by<br />
  this License without regard to the additional permissions.</p>

<p> When you convey a copy of a covered work, you may at your option<br />
  remove any additional permissions from that copy, or from any part of<br />
  it. (Additional permissions may be written to require their own<br />
  removal in certain cases when you modify the work.) You may place<br />
  additional permissions on material, added by you to a covered work,<br />
  for which you have or can give appropriate copyright permission.</p>

<p> Notwithstanding any other provision of this License, for material you<br />
  add to a covered work, you may (if authorized by the copyright holders of<br />
  that material) supplement the terms of this License with terms:</p>

<p> a) Disclaiming warranty or limiting liability differently from the<br />
  terms of sections 15 and 16 of this License; or</p>

<p> b) Requiring preservation of specified reasonable legal notices or<br />
  author attributions in that material or in the Appropriate Legal<br />
  Notices displayed by works containing it; or</p>

<p> c) Prohibiting misrepresentation of the origin of that material, or<br />
  requiring that modified versions of such material be marked in<br />
  reasonable ways as different from the original version; or</p>

<p> d) Limiting the use for publicity purposes of names of licensors or<br />
  authors of the material; or</p>

<p> e) Declining to grant rights under trademark law for use of some<br />
  trade names, trademarks, or service marks; or</p>

<p> f) Requiring indemnification of licensors and authors of that<br />
  material by anyone who conveys the material (or modified versions of<br />
  it) with contractual assumptions of liability to the recipient, for<br />
  any liability that these contractual assumptions directly impose on<br />
  those licensors and authors.</p>

<p> All other non-permissive additional terms are considered &quot;further<br />
  restrictions&quot; within the meaning of section 10. If the Program as you<br />
  received it, or any part of it, contains a notice stating that it is<br />
  governed by this License along with a term that is a further<br />
  restriction, you may remove that term. If a license document contains<br />
  a further restriction but permits relicensing or conveying under this<br />
  License, you may add to a covered work material governed by the terms<br />
  of that license document, provided that the further restriction does<br />
  not survive such relicensing or conveying.</p>

<p> If you add terms to a covered work in accord with this section, you<br />
  must place, in the relevant source files, a statement of the<br />
  additional terms that apply to those files, or a notice indicating<br />
  where to find the applicable terms.</p>

<p> Additional terms, permissive or non-permissive, may be stated in the<br />
  form of a separately written license, or stated as exceptions;<br />
  the above requirements apply either way.</p>

<p> 8. Termination.</p>

<p> You may not propagate or modify a covered work except as expressly<br />
  provided under this License. Any attempt otherwise to propagate or<br />
  modify it is void, and will automatically terminate your rights under<br />
  this License (including any patent licenses granted under the third<br />
  paragraph of section 11).</p>

<p> However, if you cease all violation of this License, then your<br />
  license from a particular copyright holder is reinstated (a)<br />
  provisionally, unless and until the copyright holder explicitly and<br />
  finally terminates your license, and (b) permanently, if the copyright<br />
  holder fails to notify you of the violation by some reasonable means<br />
  prior to 60 days after the cessation.</p>

<p> Moreover, your license from a particular copyright holder is<br />
  reinstated permanently if the copyright holder notifies you of the<br />
  violation by some reasonable means, this is the first time you have<br />
  received notice of violation of this License (for any work) from that<br />
  copyright holder, and you cure the violation prior to 30 days after<br />
  your receipt of the notice.</p>

<p> Termination of your rights under this section does not terminate the<br />
  licenses of parties who have received copies or rights from you under<br />
  this License. If your rights have been terminated and not permanently<br />
  reinstated, you do not qualify to receive new licenses for the same<br />
  material under section 10.</p>

<p> 9. Acceptance Not Required for Having Copies.</p>

<p> You are not required to accept this License in order to receive or<br />
  run a copy of the Program. Ancillary propagation of a covered work<br />
  occurring solely as a consequence of using peer-to-peer transmission<br />
  to receive a copy likewise does not require acceptance. However,<br />
  nothing other than this License grants you permission to propagate or<br />
  modify any covered work. These actions infringe copyright if you do<br />
  not accept this License. Therefore, by modifying or propagating a<br />
  covered work, you indicate your acceptance of this License to do so.</p>

<p> 10. Automatic Licensing of Downstream Recipients.</p>

<p> Each time you convey a covered work, the recipient automatically<br />
  receives a license from the original licensors, to run, modify and<br />
  propagate that work, subject to this License. You are not responsible<br />
  for enforcing compliance by third parties with this License.</p>

<p> An &quot;entity transaction&quot; is a transaction transferring control of an<br />
  organization, or substantially all assets of one, or subdividing an<br />
  organization, or merging organizations. If propagation of a covered<br />
  work results from an entity transaction, each party to that<br />
  transaction who receives a copy of the work also receives whatever<br />
  licenses to the work the party's predecessor in interest had or could<br />
  give under the previous paragraph, plus a right to possession of the<br />
  Corresponding Source of the work from the predecessor in interest, if<br />
  the predecessor has it or can get it with reasonable efforts.</p>

<p> You may not impose any further restrictions on the exercise of the<br />
  rights granted or affirmed under this License. For example, you may<br />
  not impose a license fee, royalty, or other charge for exercise of<br />
  rights granted under this License, and you may not initiate litigation<br />
  (including a cross-claim or counterclaim in a lawsuit) alleging that<br />
  any patent claim is infringed by making, using, selling, offering for<br />
  sale, or importing the Program or any portion of it.</p>

<p> 11. Patents.</p>

<p> A &quot;contributor&quot; is a copyright holder who authorizes use under this<br />
  License of the Program or a work on which the Program is based. The<br />
  work thus licensed is called the contributor's &quot;contributor version&quot;.</p>

<p> A contributor's &quot;essential patent claims&quot; are all patent claims<br />
  owned or controlled by the contributor, whether already acquired or<br />
  hereafter acquired, that would be infringed by some manner, permitted<br />
  by this License, of making, using, or selling its contributor version,<br />
  but do not include claims that would be infringed only as a<br />
  consequence of further modification of the contributor version. For<br />
  purposes of this definition, &quot;control&quot; includes the right to grant<br />
  patent sublicenses in a manner consistent with the requirements of<br />
  this License.</p>

<p> Each contributor grants you a non-exclusive, worldwide, royalty-free<br />
  patent license under the contributor's essential patent claims, to<br />
  make, use, sell, offer for sale, import and otherwise run, modify and<br />
  propagate the contents of its contributor version.</p>

<p> In the following three paragraphs, a &quot;patent license&quot; is any express<br />
  agreement or commitment, however denominated, not to enforce a patent<br />
  (such as an express permission to practice a patent or covenant not to<br />
  sue for patent infringement). To &quot;grant&quot; such a patent license to a<br />
  party means to make such an agreement or commitment not to enforce a<br />
  patent against the party.</p>

<p> If you convey a covered work, knowingly relying on a patent license,<br />
  and the Corresponding Source of the work is not available for anyone<br />
  to copy, free of charge and under the terms of this License, through a<br />
  publicly available network server or other readily accessible means,<br />
  then you must either (1) cause the Corresponding Source to be so<br />
  available, or (2) arrange to deprive yourself of the benefit of the<br />
  patent license for this particular work, or (3) arrange, in a manner<br />
  consistent with the requirements of this License, to extend the patent<br />
  license to downstream recipients. &quot;Knowingly relying&quot; means you have<br />
  actual knowledge that, but for the patent license, your conveying the<br />
  covered work in a country, or your recipient's use of the covered work<br />
  in a country, would infringe one or more identifiable patents in that<br />
  country that you have reason to believe are valid.</p>

<p> If, pursuant to or in connection with a single transaction or<br />
  arrangement, you convey, or propagate by procuring conveyance of, a<br />
  covered work, and grant a patent license to some of the parties<br />
  receiving the covered work authorizing them to use, propagate, modify<br />
  or convey a specific copy of the covered work, then the patent license<br />
  you grant is automatically extended to all recipients of the covered<br />
  work and works based on it.</p>

<p> A patent license is &quot;discriminatory&quot; if it does not include within<br />
  the scope of its coverage, prohibits the exercise of, or is<br />
  conditioned on the non-exercise of one or more of the rights that are<br />
  specifically granted under this License. You may not convey a covered<br />
  work if you are a party to an arrangement with a third party that is<br />
  in the business of distributing software, under which you make payment<br />
  to the third party based on the extent of your activity of conveying<br />
  the work, and under which the third party grants, to any of the<br />
  parties who would receive the covered work from you, a discriminatory<br />
  patent license (a) in connection with copies of the covered work<br />
  conveyed by you (or copies made from those copies), or (b) primarily<br />
  for and in connection with specific products or compilations that<br />
  contain the covered work, unless you entered into that arrangement,<br />
  or that patent license was granted, prior to 28 March 2007.</p>

<p> Nothing in this License shall be construed as excluding or limiting<br />
  any implied license or other defenses to infringement that may<br />
  otherwise be available to you under applicable patent law.</p>

<p> 12. No Surrender of Others' Freedom.</p>

<p> If conditions are imposed on you (whether by court order, agreement or<br />
  otherwise) that contradict the conditions of this License, they do not<br />
  excuse you from the conditions of this License. If you cannot convey a<br />
  covered work so as to satisfy simultaneously your obligations under this<br />
  License and any other pertinent obligations, then as a consequence you may<br />
  not convey it at all. For example, if you agree to terms that obligate you<br />
  to collect a royalty for further conveying from those to whom you convey<br />
  the Program, the only way you could satisfy both those terms and this<br />
  License would be to refrain entirely from conveying the Program.</p>

<p> 13. Remote Network Interaction; Use with the GNU General Public License.</p>

<p> Notwithstanding any other provision of this License, if you modify the<br />
  Program, your modified version must prominently offer all users<br />
  interacting with it remotely through a computer network (if your version<br />
  supports such interaction) an opportunity to receive the Corresponding<br />
  Source of your version by providing access to the Corresponding Source<br />
  from a network server at no charge, through some standard or customary<br />
  means of facilitating copying of software. This Corresponding Source<br />
  shall include the Corresponding Source for any work covered by version 3<br />
  of the GNU General Public License that is incorporated pursuant to the<br />
  following paragraph.</p>

<p> Notwithstanding any other provision of this License, you have<br />
  permission to link or combine any covered work with a work licensed<br />
  under version 3 of the GNU General Public License into a single<br />
  combined work, and to convey the resulting work. The terms of this<br />
  License will continue to apply to the part which is the covered work,<br />
  but the work with which it is combined will remain governed by version<br />
  3 of the GNU General Public License.</p>

<p> 14. Revised Versions of this License.</p>

<p> The Free Software Foundation may publish revised and/or new versions of<br />
  the GNU Affero General Public License from time to time. Such new versions<br />
  will be similar in spirit to the present version, but may differ in detail to<br />
  address new problems or concerns.</p>

<p> Each version is given a distinguishing version number. If the<br />
  Program specifies that a certain numbered version of the GNU Affero General<br />
  Public License &quot;or any later version&quot; applies to it, you have the<br />
  option of following the terms and conditions either of that numbered<br />
  version or of any later version published by the Free Software<br />
  Foundation. If the Program does not specify a version number of the<br />
  GNU Affero General Public License, you may choose any version ever published<br />
  by the Free Software Foundation.</p>

<p> If the Program specifies that a proxy can decide which future<br />
  versions of the GNU Affero General Public License can be used, that proxy's<br />
  public statement of acceptance of a version permanently authorizes you<br />
  to choose that version for the Program.</p>

<p> Later license versions may give you additional or different<br />
  permissions. However, no additional obligations are imposed on any<br />
  author or copyright holder as a result of your choosing to follow a<br />
  later version.</p>

<p> 15. Disclaimer of Warranty.</p>

<p> THERE IS NO WARRANTY FOR THE PROGRAM, TO THE EXTENT PERMITTED BY<br />
  APPLICABLE LAW. EXCEPT WHEN OTHERWISE STATED IN WRITING THE COPYRIGHT<br />
  HOLDERS AND/OR OTHER PARTIES PROVIDE THE PROGRAM &quot;AS IS&quot; WITHOUT WARRANTY<br />
  OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,<br />
  THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR<br />
  PURPOSE. THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE PROGRAM<br />
  IS WITH YOU. SHOULD THE PROGRAM PROVE DEFECTIVE, YOU ASSUME THE COST OF<br />
  ALL NECESSARY SERVICING, REPAIR OR CORRECTION.</p>

<p> 16. Limitation of Liability.</p>

<p> IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING<br />
  WILL ANY COPYRIGHT HOLDER, OR ANY OTHER PARTY WHO MODIFIES AND/OR CONVEYS<br />
  THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY<br />
  GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE<br />
  USE OR INABILITY TO USE THE PROGRAM (INCLUDING BUT NOT LIMITED TO LOSS OF<br />
  DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD<br />
  PARTIES OR A FAILURE OF THE PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS),<br />
  EVEN IF SUCH HOLDER OR OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF<br />
  SUCH DAMAGES.</p>

<p> 17. Interpretation of Sections 15 and 16.</p>

<p> If the disclaimer of warranty and limitation of liability provided<br />
  above cannot be given local legal effect according to their terms,<br />
  reviewing courts shall apply local law that most closely approximates<br />
  an absolute waiver of all civil liability in connection with the<br />
  Program, unless a warranty or assumption of liability accompanies a<br />
  copy of the Program in return for a fee.</p>

<p> END OF TERMS AND CONDITIONS</p>

<p> How to Apply These Terms to Your New Programs</p>

<p> If you develop a new program, and you want it to be of the greatest<br />
  possible use to the public, the best way to achieve this is to make it<br />
  free software which everyone can redistribute and change under these terms.</p>

<p> To do so, attach the following notices to the program. It is safest<br />
  to attach them to the start of each source file to most effectively<br />
  state the exclusion of warranty; and each file should have at least<br />
  the &quot;copyright&quot; line and a pointer to where the full notice is found.</p>

<p>
  &lt;one line to give the program's name and a brief idea of what it does.&gt;<br />
  Copyright (C) &lt;year&gt;
  &lt;name of author&gt;
</p>

<p> This program is free software: you can redistribute it and/or modify<br />
  it under the terms of the GNU Affero General Public License as published<br />
  by the Free Software Foundation, either version 3 of the License, or<br />
  (at your option) any later version.</p>

<p> This program is distributed in the hope that it will be useful,<br />
  but WITHOUT ANY WARRANTY; without even the implied warranty of<br />
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the<br />
  GNU Affero General Public License for more details.</p>

<p> You should have received a copy of the GNU Affero General Public License<br />
  along with this program. If not, see <a href="http://www.gnu.org/licenses"
    target="_blank">http://www.gnu.org/licenses</a>. </p>
<p>Also add information on how to contact
  you by electronic and paper mail.</p>

<p> If your software can interact with users remotely through a computer<br />
  network, you should also make sure that it provides a way for users to<br />
  get its source. For example, if your program is a web application, its<br />
  interface could display a &quot;Source&quot; link that leads users to an archive<br />
  of the code. There are many ways you could offer source, and different<br />
  solutions will be better for different programs; see section 13 for the<br />
  specific requirements.</p>

<p> You should also get your employer (if you work as a programmer) or school,<br />
  if any, to sign a &quot;copyright disclaimer&quot; for the program, if necessary.<br />
  For more information on this, and how to apply and follow the GNU AGPL, see<br />
  <a href="http://www.gnu.org/licenses" target="_blank">http://www.gnu.org/licenses</a>. </p>