<template>
  <div class="about popup">
    <div class="about-container popup-container">
      <CloseIcon class="close-icon" @click.stop="$emit('close')" />
      <h1>About ViewTube</h1>
      <div class="logo-about">
        <img class="logo-about-img" src="@/assets/icon-background-192.jpg" alt="ViewTube" />
      </div>
      <h2>ViewTube by Maurice Oegerli</h2>
      <h3>{{ description }}</h3>
      <div class="links-about">
        <a v-ripple target="_blank" href="https://github.com/mauriceoegerli/viewtube-vue">
          <GithubIcon />ViewTube
        </a>
        <a class="badge-btn" target="_blank" href="https://github.com/omarroth/invidious">
          <GithubIcon />Invidious
        </a>
        <a class="badge-btn" target="_blank" href="https://invidio.us">
          <ExternalIcon />Invidious
        </a>
      </div>
      <div class="invidious-stats" v-if="invidousStats">
        <table>
          <tr>
            <td>Invidious instance</td>
            <td>{{ currentInstance }}</td>
          </tr>
          <tr>
            <td>Version</td>
            <td>{{ invidousStats.software.version }}</td>
          </tr>
          <tr>
            <td>Last update</td>
            <td>{{ new Date(invidousStats.metadata.updatedAt).toUTCString() }}</td>
          </tr>
        </table>
      </div>
      <h2>Invidious License</h2>
      <div class="invidious-license links" v-if="invidiousLicense" v-html="invidiousLicense">
        <!-- <p>{{ invidiousLicense }}</p> -->
      </div>
    </div>
    <div class="about-overlay popup-overlay" @click.stop="$emit('close')"></div>
  </div>
</template>

<script>
import CloseIcon from 'icons/Close'
import Commons from '@/commons.js'
import GithubIcon from 'vue-material-design-icons/GithubCircle'
import ExternalIcon from 'vue-material-design-icons/OpenInNew'
import InvidiousLicense from '@/licenses/invidious.html'

export default {
  name: 'about',
  components: {
    CloseIcon,
    GithubIcon,
    ExternalIcon
  },
  data() {
    return {
      description: Commons.description,
      invidousStats: null,
      currentInstance: this.$store.getters.currentInstance,
      invidiousLicense: InvidiousLicense
    }
  },
  mounted() {
    const me = this
    fetch(`${Commons.getApiUrl()}stats`, {
      cache: 'force-cache',
      method: 'GET'
    })
      .then(response => response.json())
      .then(data => {
        me.invidousStats = data
      })
      .catch(error => {
        console.error(error)
      })
  }
}
</script>

<style lang="scss">
.invidious-stats {
  margin: 0 !important;

  table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    margin: 10px 0 0 0;

    tr {
      td {
        padding: 5px 10px 5px 0;
        &:nth-of-type(1) {
          color: var(--theme-color);
        }
      }
    }
  }
}
.invidious-license{
  width: 100%;
  margin: 10px 0 !important;
  height: 400px;
  overflow-y: scroll;
  background-color: var(--bgcolor-main);
}
.links-about {
  margin: 10px 0 0 0 !important;

  a {
    line-height: 24px;
    span {
      margin: -1px 10px 0 0;
    }
  }
}

.logo-about {
  margin: 20px auto 0 auto !important;
  clip-path: polygon(
    18% 4%,
    95% 50%,
    95% 50%,
    95% 50%,
    95% 50%,
    95% 50%,
    18% 96%
  );
  width: 200px;
  height: 200px;

  .logo-about-img {
    transform-origin: top left;
    animation: float-around 10s $dynamic-easing infinite;
    width: 100%;
  }
}

@keyframes float-around {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-30%, -30%) scale(1.5) rotate(5deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
</style>
